# Virtual Environment
morph_220/
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Deployment Files Not Needed For Streamlit
render.yaml
Procfile
vercel.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

backend/
frontend/